[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ircor"]
	path = ircor
	url = https://github.com/julian-urbano/ircor
	shallow = true
	registered = true
[submodule "simIReff"]
	path = simIReff
	url = https://github.com/julian-urbano/simireff
	shallow = true
	registered = true
[submodule "gt4ireval"]
	path = gt4ireval
	url = https://github.com/julian-urbano/gt4ireval
	shallow = true
	registered = true
