[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gt4ireval"]
	path = gt4ireval
	url = https://github.com/julian-urbano/gt4ireval
[submodule "ircor"]
	path = ircor
	url = https://github.com/julian-urbano/ircor
[submodule "simIReff"]
	path = simIReff
	url = https://github.com/julian-urbano/simireff
